package encapsulationpratice;

class Customer
{
	private int cId;
	private String cName;
	private int cNum;
	
	public Customer()
	{
		cId = 1;
		cName = "Chandu";
		cNum = 34567890;
		
	}
	
	public Customer(int cId, String cName, int cNum)
	{
		this.cId = cId;
		this.cName = cName;
		this.cNum = cNum;
		
	}
	
	public int getcId()
	{
		return cId;
	}
	public String getcName()
	{
		return cName;
	}
	public int getcNum()
	{
		return cNum;
	}
	
	
}


public class Encapsulationconstructor {
	
	public static void main(String[] args)
	{
		Customer c1 = new Customer();
		System.out.println(c1.getcId());
		System.out.println(c1.getcName());
		System.out.println(c1.getcNum());
		
		Customer c2 = new Customer();
		System.out.println(c2.getcId());
		System.out.println(c2.getcName());
		System.out.println(c2.getcNum());
	}

}
